<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sellers List</title>
</head>
<app-adminnav></app-adminnav>
<body>

<div class="container mt-5">
    <h2>Users List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">User Email</th>
                <th scope="col">User Mobile</th>
                <th scope="col">User Address</th>
                <th scope="col">Gender</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let user of srv.userlist">
                <th>{{user.UserId}}</th>
                <td>{{user.FullName}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.PhoneNumber}}</td>
                <td>{{user.Address}}</td>
                <td>{{user.Gender }}</td>
                <td><button class="btn btn-danger" (click)="deleteUser(user.UserId)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

</body>



