<!-- order-items.component.html -->

<app-usernav></app-usernav>

<div *ngIf="orderItems && orderItems.length > 0; else emptyOrderItemsMessage">
  <table class="order-items-table">
    <thead>
      <tr>
        <th>Order Item ID</th>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orderItem of orderItems" class="order-item">
        <td>{{ orderItem.OrderItemId }}</td>
        <td>{{ getProductById(orderItem.ProductId)?.ProductName }}</td>
        <td><img *ngIf="getProductById(orderItem.ProductId)?.ProductUrl" [src]="getProductById(orderItem.ProductId)?.ProductUrl" alt="Product Image" class="product-image" style="height: 150px; width: 150px;" /></td>
        <td>{{ orderItem.Quantity }}</td>
        <td>{{ orderItem.ItemTotalPrice | currency: 'INR':'symbol':'1.2-2' }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeOrderItem(orderItem.OrderItemId)">Remove Item</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #emptyOrderItemsMessage>
  <div class="empty-order-items-message">
    <h3>No order items available for this order.</h3>
  </div>
</ng-template>

