<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your E-Commerce</title>
    
</head>
<app-nav></app-nav>
<body style="margin-top: 1%;">

    <header>
        <h1>QuitQ</h1>
        <p>Your one-stop shop for all your shopping needs!</p>
    </header>

    <section>
        <div class="feature-box">
            <h2>Discover New Arrivals</h2>
            <img src="https://media.istockphoto.com/id/1360514921/vector/new-arrival-product-banner-design.jpg?s=612x612&w=0&k=20&c=Yp-I_BX1XINCJFtxIxV8XOd8MMIKtt6sLRQXBFYCKH4=" alt="New Arrivals" style="height: 320px; width: 325px;">
            <p>Explore the latest products in our collection.</p>
        </div>

        <div class="feature-box">
            <h2>Fast Delivery</h2>
            <img src="https://us.123rf.com/450wm/danipicture/danipicture2201/danipicture220100013/180202245-fast-delivery-express-service-vector-icon-illustration.jpg?ver=6" alt="Special Offers"  style="height: 320px; width: 355px;">
            <p>We are commited to you a quick service.</p>
        </div>

        <div class="feature-box">
            <h2>24*7 Customer Support</h2>
            <img src="https://img.freepik.com/premium-vector/customer-support-service-24-7-chat-icons-call-center-logo-hotline-concept-vector-illustration_476325-755.jpg" alt="Easy Returns" style="height: 320px; width: 325px;">
            <p>We are here to provide you the best service.</p>
        </div>
    </section>

    <a routerLink="/customerlogin" class="cta-button">Shop Now</a>
</body>
</html>
