<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Us</title>
</head>
<app-nav></app-nav>
<body>

<div class="container mt-5">
    <div class="jumbotron text-white bg-dark" style="border-radius: 10px;">
        <h1 class="display-4 text-center">QuitQ</h1>
        <p class="lead text-center">Welcome to QuitQ-Ecommerce App, your one-stop shop for all your shopping needs!</p>
        <hr class="my-4">
        <p class="text-center">We are a passionate team dedicated to providing you with the best online shopping experience.</p>
    </div>

    <h1 class="text-center mt-5">Our Team</h1>
    <div class="row mt-4" style="display: flex; justify-content: space-around;">
        
        <div class="col-lg-4 team-member" style="text-align: center; margin-bottom: 30px;">
            <img src="https://media.licdn.com/dms/image/D4D03AQHisv0CHj8jQg/profile-displayphoto-shrink_400_400/0/1684350730620?e=1715817600&v=beta&t=LeHsphdjOOFaVXScW3_i-nGMQ0H6g45C9XeVq0YTJgs" alt="Ravikant Ujjwal" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid #ffffff;">
            <h3 style="margin-top: 10px; color: #343a40;">Ravikant Ujjwal</h3>
            <p style="color: #6c757d;">Developer</p>
        </div>

        <div class="col-lg-4 team-member" style="text-align: center; margin-bottom: 30px;">
            <img src="https://media.licdn.com/dms/image/C5603AQHigjVFZw0gdA/profile-displayphoto-shrink_400_400/0/1647103627466?e=1715817600&v=beta&t=V0LJz9hFbnYl5me0HoHWvqWF0FY4OeqTMlRVGxp1wlA" alt="Dinesh Solanki G" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid #ffffff;">
            <h3 style="margin-top: 10px; color: #343a40;">Dinesh Solanki G</h3>
            <p style="color: #6c757d;">Developer</p>
        </div>

        <div class="col-lg-4 team-member" style="text-align: center; margin-bottom: 30px;">
            <img src="https://media.licdn.com/dms/image/D4D03AQGV7iy4dqLxtg/profile-displayphoto-shrink_800_800/0/1686845236272?e=2147483647&v=beta&t=lsqLVVdHJjuwu7dCEU9eEDCen_MiJxGCHhL3maV9oxY" alt="Gaurav Meena" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid #ffffff;">
            <h3 style="margin-top: 10px; color: #343a40;">Gaurav Meena</h3>
            <p style="color: #6c757d;">Developer</p>
        </div>
    </div>
</div>

</body>
